# =========================

# Python

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Jupyter Notebook

# =========================

.ipynb_checkpoints/

# =========================

# Virtual Environment

# =========================

venv/
env/
.venv/

# =========================

# Dataset Files

# =========================

*.csv
*.xlsx
*.xls
*.json
*.db
*.sqlite
*.zip
*.tar.gz

# =========================

# Logs

# =========================

*.log

# =========================

# System Files

# =========================

.DS_Store
Thumbs.db

# =========================

# IDE

# =========================

.vscode/
.idea/

# =========================

# Temporary Files

# =========================

*.tmp
*.temp
